.cart {
  padding-right: 2em;
  position: relative;
}

.cart .number-of-items {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 18px;
  top: -7px;
  background: #f09d51;
  height: 20px;
  width: 20px;
  border-radius: 7px;
}

.number-of-items .noi{
  font-size: 0.7em;
}

.fa-shopping-cart {
  font-size: 1.5em;
  cursor: pointer;
}